.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5%);
    /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modalChangeProfile {
    position: absolute;
    background-color: #1c1c1c;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2%);
    padding: 10px;
    z-index: 999;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .closeModalChangeProfile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .closeModalChangeProfile button {
    background: transparent;
    border: none;
  }
  
  .closeModalChangeProfile button i {
    font-size: 20px;
    color: rgba(16, 89, 255, 1);
  }
  
  .line-divider {
    width: 100%;
    height: 0.1px;
    background-color: rgba(47, 51, 54, 255);
    margin: 20px 0;
  }
  
  /* Estilos para la punta del modal */
  .modalChangeProfile::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #1c1c1c;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .file-publication {
    background-color:  #242424;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .file-publication span {
    margin-right: 10px;
  }
  
  .file-publication input {
    display: none;
  }
  
  .file-input-container{
    width: 100%;
  }
  
  .publicar{
    width: 100%;
  }
  
  .publicar form{
    text-align: center;
  }
  
  .button-publication {
    background-color: #242424;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .preview-image{
    width: 70%;
    height: 70%;
  }
  
  .input-publication{
    padding: 10px;
  }
  
  
  .text-publication {
    position: relative; /* Necesario para posicionar el placeholder */
    padding-top: 10px; /* Espacio extra para el placeholder */
    width: 100%;
    height: 30px;
    background: transparent;
    color: white;
    border: none;
    resize: none; /* Desactivar el resize manual */
    overflow: hidden; /* Ocultar el contenido que excede el tamaño del input */
    -webkit-box-sizing: border-box; /* Asegurar que el ancho incluye el borde */
    box-sizing: border-box;
  }
  
  .text-publication::placeholder {
    position: absolute;
    top: 0;
    left: 0;
    color: gray; /* Ajusta el color del placeholder */
    transition: all 0.2s ease-in-out; /* Animación del movimiento */
  }
  
  .text-publication:focus::placeholder {
    opacity: 0; /* Esconder el placeholder al escribir */
    transform: translateY(-20px); /* Movimiento del placeholder */
  }
  
  .text-publication:focus {
    -webkit-box-shadow: none; /* Eliminar el borde al enfocar */
    box-shadow: none;
  }
  
  .text-publication::-webkit-resizer {
    display: none; /* Ocultar los resizers del navegador */
  }