.general-container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
    width: 70dvw;
} 

.info-usuario{
    letter-spacing: 0.5px;
    line-height: 30px;
    box-shadow: 0px 0px 29px -5px #302a30;
}
.info-usuario > h1 {
    font-size: 20px;
}

.info-usuario > h2{
    text-align: center;
    font-size: 15px ;
}

.form-container{
    text-align: center;
}

.input-button{
    display: none;
}
 
.button-avatar{
    background-color: rgba(16, 89, 255, 1);
}

.popularidad{
    display: flex;
    justify-content: space-evenly;
}

.button-container{
    display: flex;
    justify-content: space-evenly;
}

.button-container > button{
    background-color: rgba(16, 89, 255, 1);
    padding: 5px 20px;
    border-radius: 10px;
}

.contenido-destacado{
    border-radius: 10px;
    box-shadow: 0px 0px 29px -5px #302a30;
    margin-top: 15px;
}

.profileImage{
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -20px; /* Mitad de la altura */
    margin-left: -20px; /* Mitad del ancho */
    display: flex; /* Inicialmente oculto */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .hiddenInfo{
    display: none;
  }
