.container {
  padding-bottom: 100px;
  grid-column: 3/4;
}

.frame {
  position: fixed;
  width: 30%;
  height: 100dvh;
  border: 1px solid rgba(47, 51, 54, 255);
  background: #1c1c1c;
  background-size: cover;
  margin-right: auto;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.frame-long {
  height: 615px;
}

.frame-short {
  height: 400px;
  margin-top: 50px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-top: 40px;
  opacity: 1;
  transition: all 0.5s ease;
}

.nav-up {
  transform: translateY(-100px);
  opacity: 0;
}

li {
  padding-left: 10px;
  font-size: 18px;
  display: inline;
  text-align: left;
  text-transform: uppercase;
  padding-right: 10px;
  color: #ffffff;
}

.btnUC {
  font-size: 1rem;
}

.signin-active a {
  padding-bottom: 10px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: solid 2px #287bff;
  transition: all 0.25s ease;
  cursor: pointer;
}

.signin-inactive a {
  padding-bottom: 0;
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  border-bottom: none;
  cursor: pointer;
}

.signup-active a {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  border-bottom: solid 2px #287bff;
  padding-bottom: 10px;
}

.signup-inactive a {
  cursor: pointer;
  color: #ffff;
  text-decoration: none;
  transition: all 0.25s ease;
}

.form-signin {
  font-size: 16px;
  font-weight: 300;
  padding-left: 47px;
  padding-right: 37px;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.form-signin-left {
  transform: translateX(-400px);
  opacity: 0;
}

.form-signup {
  left: 30px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  position: relative;
  transition: all 0.5s ease;
}

.form-signup-left {
  transform: translateX(-399px);
  opacity: 1;
}

.form-signup-down {
  top: 0px;
  opacity: 0;
}

.success {
  width: 80%;
  height: 150px;
  text-align: center;
  position: relative;
  top: -890px;
  left: 450px;
  opacity: 0;
  transition: all 0.8s 0.4s ease;
}

.success-left {
  transform: translateX(-406px);
  opacity: 1;
}

.successtext {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  margin-top: -35px;
  padding-left: 37px;
  padding-right: 37px;
}

#check path {
  stroke: #ffffff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.85px;
  stroke-dasharray: 60px 300px;
  stroke-dashoffset: -166px;
  fill: rgba(255, 255, 255, 0);
  transition: stroke-dashoffset 2s ease 0.5s, fill 1.5s ease 1s;
}

#check.checked path {
  stroke-dashoffset: 33px;
  fill: rgba(255, 255, 255, 0.03);
}

.form-signin input,
.form-signup input {
  color: #000000;
  font-size: 13px;
}

.form-styling {
  width: 85%;
  height: 2em;
  padding-left: 15px;
  border: none;
  border-radius: 20px;
}

label {
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 15px;
  padding-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
  display: block;
}

:focus {
  outline: none;
}

.form-signin input:focus,
textarea:focus,
.form-signup input:focus,
textarea:focus {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  padding-right: 40px;
  transition: background 0.5s ease;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  display: none;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 85px;
  padding-top: 2px;
  cursor: pointer;
  margin-top: 8px;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  width: 65px;
  height: 30px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  left: 0;
  top: -3px;
  transition: all 0.2s ease;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  top: 7px;
  left: 10px;
  transition: all 0.2s ease;
}

/* on checked */
[type="checkbox"]:checked + label:before {
  background: #287bff;
}

[type="checkbox"]:checked + label:after {
  background: #ffffff;
  top: 7px;
  left: 45px;
}

[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
  position: absolute;
  left: 6px;
  width: 65px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  transition: all 0.2s ease;
}

[type="checkbox"]:not(:checked) + label .ui:before {
  content: "no";
  left: 32px;
  color: rgba(255, 255, 255, 0.7);
}

[type="checkbox"]:checked + label .ui:after {
  content: "yes";
  color: #ffffff;
}

[type="checkbox"]:focus + label:before {
  box-sizing: border-box;
  margin-top: -1px;
}

.btn-signup {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  width: 85%;
  height: 35px;
  border-radius: 20px;
  margin-top: 23px;
  background-color: #287bff;
  border: none;
  color: #ffff;
}

.btn-signin {
  padding-top: 8px;
  width: 100%;
  height: 35px;
  border: none;
  background: transparent;
  border-radius: 20px;
  margin-top: -8px;
}

.btn-animate {
  background: transparent;
  font-weight: 700;
  font-size: 1em;
  text-align: center;
  color: #ffff;
  width: 85%;
  padding: 0.3em;
  border: none;
  background: transparent;
  border-radius: 20px;
  margin-top: 18px;
  background-color: #287bff;
  transition: all 0.5s ease, top 0.5s ease 0.5s, height 0.5s ease 0.5s,
    background-color 0.5s ease 0.75s;
}

.btn-animate > button {
  border: none;
  background: none;
  color: #ffff;
  font-weight: 500;
}

.forgot {
  height: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 24px;
  margin-top: -535px;
  border-top: solid 1px rgba(255, 255, 255, 0.3);
  transition: all 0.5s ease;
}

.forgot-left {
  transform: translateX(-400px);
  opacity: 0;
}

.forgot-fade {
  opacity: 0;
}

.forgot a {
  color: rgba(255, 255, 255, 0.3);
  font-weight: 400;
  font-size: 13px;
  text-decoration: none;
}

.welcome {
  width: 100%;
  height: 50px;
  position: relative;
  color: rgba(35, 43, 85, 0.75);
  opacity: 0;
  transition: transform 1.5s ease 0.25s, opacity 0.1s ease 1s;
}

.welcome-left {
  transform: translateY(-780px);
  opacity: 1;
}

.cover-photo {
  height: 150px;
  position: relative;
  left: 0px;
  top: -900px;
  background: linear-gradient(rgba(35, 43, 85, 0.75), rgba(35, 43, 85, 0.95)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/landscape-nature-man-person.jpeg);
  background-size: cover;
  opacity: 0;
  transition: all 1.5s ease 0.55s;
}

.cover-photo-down {
  top: -575px;
  opacity: 1;
}

.profile-photo {
  height: 125px;
  width: 125px;
  position: relative;
  border-radius: 70px;
  left: 155px;
  top: -1000px;
  background: url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/nature-water-rocks-hiking.jpg);
  background-size: 100% 135%;
  background-position: 100% 100%;
  opacity: 0;
  transition: top 1.5s ease 0.35s, opacity 0.75s ease 0.5s;
  border: solid 3px #ffffff;
}

.profile-photo-down {
  top: -636px;
  opacity: 1;
}

h1 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}

.btn-goback {
  position: relative;
  margin-right: auto;
  top: -400px;
  float: left;
  padding: 8px;
  width: 83%;
  margin-left: 37px;
  margin-right: 37px;
  height: 35px;
  border-radius: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  color: #287bff;
  margin-top: -8px;
  border: solid 1px #287bff;
  opacity: 0;
  transition: top 1.5s ease 0.35s, opacity 0.75s ease 0.5s;
}

.btn-goback-up {
  top: -1080px;
  opacity: 1;
}

a.btn-goback:hover {
  cursor: pointer;
  background-color: #0f4fe6;
  transition: all 0.5s;
  color: #ffffff;
}

/* refresh button styling */

#refresh {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  padding: 13px 0 0 13px;
}

.refreshicon {
  fill: #d3d3d3;
  transform: rotate(0deg);
  transition: fill 0.25s ease, transform 0.25s ease;
}

.refreshicon:hover {
  cursor: pointer;
  fill: #1059ff;
  transform: rotate(180deg);
}

.vertical-line {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: rgba(47, 51, 54, 255);
  z-index: 9999;
  left: 65%;
}

.vertical-line::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color: rgba(47, 51, 54, 255);
  transform: translateX(-50%);
  pointer-events: none;
}

.vertical-line2 {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: rgba(47, 51, 54, 255);
  z-index: 9999;
  left: 27%;
}

.vertical-line2::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color: rgba(47, 51, 54, 255);
  transform: translateX(-50%);
  pointer-events: none;
}

.signUpUserCompany-active {
  color: #287bff;
}

.signUpUserCompany-inactive {
  color: white;
}

@media (min-width: 1024px) {
  .container {
    width: 100%;
    height: 100%;
  }
}

/* Agrega una clase personalizada para el modal */
.modal-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  /* background: rgba(248, 248, 248, 0.7); Fondo semitransparente */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Asegúrate de que esté por encima de otros elementos */
  color: rgb(255, 255, 255);
}
