.sidebar-container {
    grid-column: 1;
    position: fixed;
    height: 100vh;
    background-color: #1c1c1c;
    width: 25%;
}

.sidebar-logo__div {
    padding: 1.75rem;
}

.sidebar-vetical-line {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: rgba(47, 51, 54, 255);
    z-index: 9999;
    left: 27%;
}

.sidebar-vetical-line::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: rgba(47, 51, 54, 255);
    transform: translateX(-50%);
    pointer-events: none;
}

.sidebar-logo__div>img {
    width: 175px;
}

.sidebar-menu {
    margin-top: 15px;
    margin-left: 5px;
}

.sidebar-menu a {
    text-decoration: none;
    width: 100%;
    font-size: 1.15rem;
    color: #fff;
    display: flex;
    align-items: center;
    line-height: 40px;
    gap: 20px;
}

.sidebar-menu a:hover::after {
    content: '';
    position: absolute;
    right: 0;
    width: 2px;
    height: 17px;
    background: #2121fa;
}

.sidebar-menu a:hover {
    color: #2121fa;
}

.sidebar-menu img {
    height: 25px;
    margin-right: 1rem;
}